.Menu--palette-name {
  @extend .Menu--text;
}

.Menu--palette-span {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #ffffff;
  margin-top: 2px;
  margin-bottom: 8px;
  cursor: pointer;
}

.Menu--palette-square {
  width: 100%;
  height: 16px;
  display: inline-block;
}