.Menu {
  width: 100%;
  background-color: #0b0b0e;
  color: #9facbd;
  display: grid;
  grid-template-rows: 36px 1fr calc(4rem + 2px);
  position: relative;
}

.Menu--text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.Menu--header {
  display: grid;
  grid-template-columns: 1fr 32px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  
  &:hover {
    color: #ffffff;
  }
}

.Menu--h2 {
  @extend .Menu--text;
  font-weight: 400;
  font-size: 1.1rem;
  margin: 8px;
  display: inline-block;
}

.Menu--ul-palettes {
  list-style-type: none;
  margin: 8px;
}

.Menu--button {
  height: 2rem;
  margin: 0 auto calc(2rem + 2px);
  padding: 0 16px 2px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #0facf3;
  color: #ffffff;
  transition: all 0.2s ease;

  &:hover {
    background-color: #10a5e8;
  }
}

.Menu--icon-arrow {
  vertical-align: middle;
  position: absolute;
  width: 244px;
  margin-top: 2px;
  top: 0;
  right: 4px;
  height: 32px;
  background-image: url('../icons/dropdownarrowdark.svg');
  background-position: right;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
  
  &:hover {
    background-image: url('../icons/dropdownarrowlight.svg');
  }
}

.Menu--drop-down {
  position: absolute;
  background-color: #ffffff;
  top: 36px;
  width: 232px;
  left: 8px;
  list-style-type: none;
  border-radius: 8px;
  padding: 12px 4px 8px;
}