.Menu--list-item {
  margin-bottom: 8px;
}

.Menu--icon-folder {
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
}

.Menu--icon-edit {
  vertical-align: middle;
  cursor: pointer;
  height: 20px;
  float: right;
}

.Menu--icon-edit-light {
  @extend .Menu--icon-edit;
  height: 18px;
}

.Menu--project-name {
  @extend .Menu--text;
  width: 168px;
  cursor: pointer;
  color: #000000;
}