.section--locked {
  @extend .section;
  align-content: end;
  background-position: center;
  background-repeat: no-repeat;
}

.section--unlocked {
  @extend .section;
  align-content: end;
  &:hover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 44px;
  }
}

.section--locked-true-true {
  @extend .section--locked;
  background-image: url(../icons/lockeddark.svg);
}
.section--locked-true-false {
  @extend .section--locked;
  background-image: url(../icons/lockedlight.svg);
}

.section--locked-false-true {
  @extend .section--unlocked;
  &:hover {
    background-image: url(../icons/unlockeddark.svg);
  }
}

.section--locked-false-false {
  @extend .section--unlocked;
  &:hover {
    background-image: url(../icons/unlockedlight.svg);
  }
}

.h3 {
  opacity: .3;
  text-transform: uppercase;
  margin: auto;
  font-size: 2rem;
  padding-bottom: 2rem;
  font-weight: 400;
}

.h3--dark-true {
  @extend .h3;
  color: #ffffff;
}

.h3--dark-false {
  @extend .h3;
  color: #000000;
}

@media screen and (max-width: 958px) {
  .h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 414px) {
  .h3 {
    font-size: 1rem;
  }
}

@media screen and (max-height: 720px) {
  .section--locked {
    background-size: 36px;  
    background-position-y: 25%;
  }
  
  .section--unlocked {
    &:hover {
      background-position-y: 25%;
      background-size: 32px;
    }
  }
}