.Modal {
  position: absolute;
  top: 50vh;
  margin-top: -240px;
  width: 320px;
  height: 240px;
  background-color: #ffffff;
  left: 50%;
  margin-left: -160px;
  z-index: 2;
  padding: 32px;
  border-radius: 8px;
}

.Modal--h4 {
  font-weight: 400;
  text-align: center;
  font-size: 1.2rem;
}

.Modal--input {
  outline: none;
  padding: 8px;
  width: 100%;
  margin-top: 16px;
  border-radius: 2px;
  border: 1px solid #777777;
}

.Modal--button {
  outline: none;
  margin-top: 16px;
  width: 100%;
  padding: 6px;
  border-radius: 2px;
  border: 1px solid #777777;
  background-color: #ffffff;
  cursor: pointer;

  &:hover {
    border: 1px solid #0facf3;
    color: #0facf3;
  }
}